.photo1{
    width: 350px;
    height: 350px;
    border:solid;
    border-width:15px; 
    border-color: rgb(243, 214, 239);
    background-color: rgb(255, 91, 241);
}
.photo2{
    width: 350px;
    height: 350px;
    border:solid;
    border-width:15px; 
    border-color: rgb(215, 245, 217);
    background-color: rgb(122, 255, 95);
}
.pic2{
    width: 40px;
    height: 40px;
    border:solid;
}

.navbar{
    background-image: url("../images/nbackground.jpg");
    background-size: 100%;
}

body{
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-repeat: repeat;
}
.nav-link{
    font-size: 11px;
}
